<br>
<div>
  <form (ngSubmit)="onSubmit()">
    <div class="row">
     <!-- <div class="input-field col s12"> -->
      <!-- <select id="case_court" name="case_court">
        <option value="" disabled selected>Select Court</option>
        <option *ngFor="let court of courts" value="{{court.shorttext}}">
          {{court.title}}
        </option>
      </select> -->
      
      <select name="case_court" [(ngModel)]="case.court">
    <option *ngFor="let court of courts" [ngValue]="court.shorttext">{{court.title}}
    </option>
    </select>
    
    <!-- </div> -->
  </div>
  
  <div class="row">
   <div class="input-field col s6">
     <input name="case_type" placeholder="Case Type" [(ngModel)]="case.type" type="text" class="validate">
   </div>
 </div>
 <div class="row">
   <div class="input-field col s4">
     <input name="case_id" placeholder="Case No." [(ngModel)]="case.id" type="text" class="validate">
   </div>
   <div class="input-field col s4">
     <input name="case_dairy_no" placeholder="Dairy No." [(ngModel)]="case.dairy_no" type="text" class="validate">
   </div>
   <div class="input-field col s4">
     <input name="case_year" placeholder="Year" [(ngModel)]="case.year" type="number" class="validate" min="1900" max="{{case.year}}">
   </div>
 </div>

 <div class="row">
   <div class="input-field col s6">
     <input name="case_petitioner" placeholder="{{court.ptitle}}" [(ngModel)]="case.petitioner" type="text" class="validate">
   </div>
   <div class="input-field col s6">
     <input name="case_defendant" placeholder="{{court.dtitle}}" [(ngModel)]="case.defendant" type="text" class="validate">
   </div>
 </div>

 <div class="row">
   <div class="input-field col s6">
     <select id="client" name="case_client" [(ngModel)]="case.client">
        <option value="" disabled selected>Choose client</option>
        <option value="{{case.petitioner}}">{{case.petitioner}}</option>
        <option value="{{case.defendant}}">{{case.defendant}}</option>
      </select>
   </div>
 </div>
  <div class="row">
   <div class="input-field col s6">
     <input name="case_petadvocate" [(ngModel)]="case.petadvocate" placeholder="Petitioner Advocate" type="text" class="validate">
   </div>
   <div class="input-field col s6">
     <input name="case_petdefendant" [(ngModel)]="case.defadvocate" placeholder="Defendant Advocate" type="text" class="validate">
   </div>
 </div>
  <div class="row">
   <div class="input-field col s6">
     <input name="case_subject" [(ngModel)]="case.subject" placeholder="Subject" type="text" class="validate">
   </div>
   <div class="input-field col s6">
     <input name="case_status" [(ngModel)]="case.status" placeholder="Status" type="text" class="validate">
   </div>
 </div>

 <div class="row">
   <div class="input-field col s6">
     <input name="case_judge" [(ngModel)]="case.judge" placeholder="Judge" type="text" class="validate">
   </div>
 </div>

<!-- <div class="hearings_master" style="display:none;">
  <div class="row hearing_row_master">
   <div class="input-field col s5">
     <input name="case_hearing_date" [(ngModel)]="case.hearings" placeholder="Hearing Date" type="text" class="validate">
   </div>
   <div class="input-field col s7">
     <input name="case_hearing_comment" [(ngModel)]="case.hearings" placeholder="Comments" type="text" class="validate">
   </div>
   
 </div>
</div> -->

<div class="row">
   <!-- <a class="btn-floating btn-large waves-effect waves-light red" href="javascript:$('.hearings_master').find('.hearing_row_master').clone().appendTo('.hearings_rows');"> -->
   <button class="btn-floating btn-large waves-effect waves-light red" (click)="addHearing(); $event.preventDefault()">
      <i class="material-icons">add</i>
  </button>
    <!-- </a> -->
 </div>

<div class="hearings_rows" >
  <div class="row" *ngFor="let hear of case.hearings; let i = index">
   <div class="input-field col s5">
     <input name="case_hearing_date" [(ngModel)]="case.hearings[i].date" placeholder="Hearing Date" type="text" > <!--  -->
   </div>
   <div class="input-field col s7">
     <input name="case_hearing_comment" [(ngModel)]="case.hearings[i].comment" placeholder="Comments" type="text" class="validate">
   </div>
   
 </div>
</div>

 <div class="row">
  <div class="input-field col s12">
     <textarea name="case_judgement" [(ngModel)]="case.judgement" class="materialize-textarea" placeholder="Judgement"></textarea>
   </div>
</div>

<div class="row">
<div class="input-field col s12">
<input id="att_file" type="file" (change)="fileChangeEvent($event)" placeholder="Upload file..." multiple />
</div>
</div>

  <div class="row">
    <button id ='submitbtn' type="submit" class="btn waves-effect waves-light green">
        <i class="material-icons left">done</i>Save
      </button>
  </div>
</form>
</div>