

<section class="content">

  <!-- Default box -->
  <div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">Manage Courts</h3>

        </div>
        <div class="box-body">
        
          <div class="row">
                <div class="col-xs-2">
                  <input type="text" class="form-control" placeholder="Court" [(ngModel)]="court.title">
                </div>
                <div class="col-xs-2">
                  <input type="text" class="form-control" placeholder="Short Text" [(ngModel)]="court.shorttext">
                </div>
                <div class="col-xs-3">
                  <input type="text" class="form-control" placeholder="Petitioner" [(ngModel)]="court.ptitle">
                </div>
                <div class="col-xs-3">
                  <input type="text" class="form-control" placeholder="Defendent" [(ngModel)]="court.dtitle">
                </div>
                <div class="col-xs-2">
                  <button type="button" (click)="onSubmit()" class="btn btn-default btn-sm"><i class="fa fa-check"></i></button>
                  <button type="button" (click)="clearData(); $event.preventDefault()" class="btn btn-default btn-sm"><i class="fa fa-refresh"></i></button>
                </div>
                
              </div>
        


          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Court</th>
                    <th>Short Text</th>
                    <th>Petitioner</th>
                    <th>Defendent</th>
                    <th>Edit</th>
                    <th>Delete</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let court of courts">
                    <td>{{court.title}}</td>
                    <td>{{court.shorttext}}</td>
                    <td>{{court.ptitle}}</td>
                    <td>{{court.dtitle}}</td>
                    <td>
                      <a href="#" (click)="onEdit(court)">
                        <i class="fa fa-edit"></i>
                      </a>
                    </td>
                    <td>
                      <a href="#" (click)="onDelete(court)">
                        <i class="fa fa-trash-o"></i>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.col -->
          </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
          
        </div>
        <!-- /.box-footer-->
      </div>
      <!-- /.box -->

    </section>