
<!-- <ul id="slide-out" class="side-nav fixed"> -->

<ul style="width:250px; margin-top:65px;" id="slide-out" class="side-nav fixed">
  <li routerLinkActive="active" ><a href="#"  routerLink="search">Search</a></li>
  <li routerLinkActive="active" ><a href="#"  routerLink="managecases">Manage Case</a></li>
  <li routerLinkActive="active" ><a href="#"  routerLink="courts">Courts</a></li>
</ul>
<!-- <a href="#" data-activates="slide-out" class="button-collapse" ><i class="material-icons">menu</i></a> -->